# Virtual environments python
venv/

# Model should not be in the repo
model/

# Experimentation notebook checkpoints
.ipynb_checkpoints/
# pycache
__pycache__/

# Editor specific
.vscode/
.idea/
*.iml