<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ANSWERING MACHINE</title>
    <link rel="stylesheet" href="https://unpkg.com/purecss@2.0.3/build/pure-min.css"
          integrity="sha384-cg6SkqEOCV1NbJoCu11+bm0NvBRc8IYLRGXkmNrqUBfTjmMYwNKPWBTIKyw9mHNJ" crossorigin="anonymous">
    <link rel="stylesheet" href="/static/css/main.css">
</head>
<body>

<div class="header">
    <div class="home-menu pure-menu pure-menu-horizontal">
        <a class="pure-menu-heading" href="/">Answering Machine</a>
    </div>
</div>

{% block content %}
{% endblock %}
</body>
</html>