{% extends "base.html" %}
{% block content %}
    <div class="pure-g">
        <form method="POST" action="/answer" class="pure-form pure-form-stacked">
            <fieldset>
                {{ form.hidden_tag() }}
                <label for="text">Text</label>
                <p class="sublabel">A piece of (English) text. The model will interpret this text and try to answer the
                    question that is
                    put below.</p>
                {{ form.text(cols=100, rows=25, class="pure-input-rounded", id="text") }}
                <label for="question">Question</label>
                <p class="sublabel">A question about the piece of text.</p>
                {{ form.question(cols=100, rows=5, class="pure-input-rounded", id="question") }}
                <input type="submit" value="Answer me" class="pure-button pure-button-primary">
            </fieldset>
        </form>
    </div>
{% endblock %}