<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Questions and Answers</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400&display=swap" rel="stylesheet">
</head>

<body>
    <div class="container">
        <div>
            <h1>ANSWERING MACHINE</h1>
        </div>
        <div>
            <form method="POST" action="/answer" class="input-form">
                {{ form.hidden_tag() }}
                <div class="sub-form">
                    <div class="label">
                        {{ form.text.label }}
                    </div>
                    <div class="field">
                        {{ form.text(cols=80, rows=50) }}
                    </div>
                </div>
                <div class="sub-form">
                    <div class="label">
                        {{ form.question.label }}
                    </div>
                    <div class="field">
                        {{ form.question(cols=80, rows=5) }}
                    </div>
                </div>
                <input type="submit" value="Answer me">
            </form>
        </div>
    </div>
</body>

</html>